<template>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal" role="form" @submit.prevent="save">
                <div v-bind:class="[{ 'has-error' : errors.has('name') }, 'form-group' ]">
                  <label class="control-label col-md-3">Nama Kurikulum</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Nama Kurikulum" name="name" v-model="name" v-validate="'required'">
                    <span v-show="errors.has('name')" class="help-block">{{ errors.first('name') }}</span>
                  </div>
                </div>  
                <div class="form-group">
                  <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Simpan</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'main',
  head: {
    title: 'Buat Kurikulum Baru'
  },
  middleware: 'authenticated',
  inject: ['$validator'],
  data () {
    return {
      name: null
    }
  },
  methods: {
    save: function () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$axios.$post('/curriculum', {
            name: this.name.toUpperCase()
          }).then(response => {
            console.log(response);
            if(response.status){  
              this.$router.push('/curriculum'); 
            }
          }).catch(error => {
            console.log(error);
          });
          return
        }
      })
    }
  },
  mounted () {
  }
}
</script>