<template>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <router-link class="btn btn-success pull-right" :to="{ path: '/curriculum/create' }">
                <i class="fa fa-plus-circle"></i> Buat Kurikulum
              </router-link>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">Nama</th>
                    <th class="text-center">Status</th>
                    <th class="text-center"></th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-if="curriculums.length == 0  && !isloading_data">
                      <td colspan="3" class="text-center">Tidak ada data</td>
                    </tr>
                    <tr v-if="isloading_data">
                      <td colspan="3" class="text-center"><i class="fa fa-spin fa-spinner"></i> Memuat data ...</td>
                    </tr>
                    <tr v-for="item in curriculums" v-bind:key="item.id">
                      <td>{{ item.name }}</td>
                      <td class="text-center">
                        <span v-if="item.active == '1'" class="text text-success"><i class="fa fa-check-circle"></i> Aktif</span>
                        <span v-else class="text text-warning"><i class="fa fa-times-circle"></i> Nonaktif</span>
                      </td>
                      <td class="text-center">
                        <button class="btn btn-xs btn-info" v-on:click="showDetailItem(item.id)"><i class="fa fa-info"></i> Detail</button>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'main',
  head: {
    title: 'Kurikulum'
  },
  middleware: 'authenticated',
  data () {
    return {
      isloading_data: false,
      curriculums: []
    }
  },
  methods: {
    showAll: function () {
      this.isloading_data = true;
      this.$axios.$get('/curriculum').then(response => {
        this.isloading_data = false;
        this.curriculums = response.data.curriculums
      }).catch(error => {
        this.isloading_data = false;
        console.log(error);
      });
    },
    deleteItem: function (index) {
      var id = this.lessons.data[index].id;
      this.isloading_data = true;
      if(confirm('Apakah anda ingin menghapus kurikulum ' + this.lessons.data[index].name + '?')){
        this.$axios.$delete('/lesson/'+id).then(response => {
          this.showAll(this.lessons.page);
        }).catch(error => {
          console.log(error);
        });
      }
    },
    editItem: function (id) {
      this.$router.push('/lesson/edit/' + id); 
    },
    showDetailItem: function (id) {
      this.$router.push('/curriculum/' + id + '/lesson') 
    }
  },
  mounted () {
    this.showAll()
  }
}
</script>