<template>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal" role="form" @submit.prevent="updateItem">
                <div v-bind:class="[{ 'has-error' : errors.has('name') }, 'form-group' ]">
                  <label class="control-label col-md-3">Name</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Username" name="username" v-model="user.username" v-validate="'required'">
                    <span v-show="errors.has('username')" class="help-block">{{ errors.first('username') }}</span>
                  </div>
                </div>
                <div v-bind:class="[{ 'has-error' : errors.has('email') }, 'form-group' ]">
                  <label class="control-label col-md-3">Email</label>
                  <div class="col-md-9">
                    <input type="email" class="form-control" placeholder="Email" name="email" v-model="user.email" v-validate="'required|email'">
                    <span v-show="errors.has('email')" class="help-block">{{ errors.first('email') }}</span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'main',
  head: {
    title: 'Edit User'
  },
  middleware: 'authenticated',
  inject: ['$validator'],
  data () {
    return {
      id: this.$route.params.id,
      user: {
        username: '',
        email: ''
      }
    }
  },
  methods: {
    showItem: function (id) {
      this.$axios.$get('/user/' + id).then(response => {
        this.user = response.data.user;
      }).catch(error => {
        console.log(error);
      });
    },
    updateItem: function () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$axios.$put('/user/' + this.id, {
            username: this.user.username,
            email: this.user.email
          }).then(response => {
            if(response.status){  
              this.$router.push('/user'); 
            }
          }).catch(error => {
            console.log(error);
          });
          return
        }
      })
    }
  },
  mounted () {
    this.showItem(this.id);
  }
}
</script>