<template>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal" role="form" @submit.prevent="update">
                <div v-bind:class="[{ 'has-error' : errors.has('code') }, 'form-group' ]">
                  <label class="control-label col-md-3">Code Mata Pelajaran</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Kode Mapel" name="code" v-model="code" v-validate="'required'">
                    <span v-show="errors.has('code')" class="help-block">{{ errors.first('code') }}</span>
                  </div>
                </div>
                <div v-bind:class="[{ 'has-error' : errors.has('name') }, 'form-group' ]">
                  <label class="control-label col-md-3">Nama Mata Pelajaran</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Nama Mapel" name="name" v-model="name" v-validate="'required'">
                    <span v-show="errors.has('name')" class="help-block">{{ errors.first('name') }}</span>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Status</label>
                  <div class="col-md-6">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="active" v-model="active" value="0">
                        Nonaktif
                      </label> 
                      <label>
                        <input type="radio" name="active" v-model="active" value="1">
                        Aktif                        
                      </label>
                    </div>
                  </div>
                </div>     
                <div class="form-group">
                  <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Simpan</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'main',
  head: {
    title: 'Edit Mata Pelajaran'
  },
  middleware: 'authenticated',
  inject: ['$validator'],
  data () {
    return {
      id: this.$route.params.id,      
      code: null,
      name: null,
      active: null
    }
  },
  methods: {
    showItem: function (id) {
      this.$axios.$get('/lesson/' + id).then(response => {
        const lesson = response.data.lesson;
        if (lesson != null) {
          this.code = lesson.code;
          this.name = lesson.name;
          this.active = lesson.active;
        }
      }).catch(error => {
        console.log(error);
      });
    },
    update: function () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$axios.$put('/lesson/' + this.id, {
            code: this.code,
            name: this.name.toUpperCase(),
            active: this.active
          }).then(response => {
            console.log(response);
            if(response.status){  
              this.$router.push('/lesson'); 
            }
          }).catch(error => {
            console.log(error);
          });
          return
        }
      })
    }
  },
  mounted () {
    this.showItem(this.id);
  }
}
</script>