<template>
  <div class="row">
    <div class="col-md-8">
      <div class="box">
        <div class="box-body">
          <div class="row" style="margin-top:10px;">
            <div class="col-md-12">
              <ul class="nav nav-tabs">
                <li v-for="(item, i) in grades" v-bind:key="item.id" v-bind:class="i == 0 ? 'active' : ''"><a data-toggle="tab" v-bind:href="'#class-' + item.id">KELAS {{ item.name }}</a></li>
              </ul>
              <div class="tab-content">
                <div v-for="(item, i) in grades" v-bind:key="item.id" v-bind:id="'class-' + item.id" v-bind:class="['tab-pane', 'fade', i == 0 ? 'in active' : '']">
                  <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                      <div class="table-responsive">
                        <table class="table table-stripped">
                          <thead>
                            <tr class="info">
                              <th class="text-center">Kelas</th>
                              <th class="text-center">Wali Kelas</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-if="!loading_grade && item.classes.length == 0">
                              <td colspan="5" class="text-center">Tidak ada data</td>
                            </tr>
                            <tr v-for="(detail) in item.classes" v-bind:key="detail.id">
                              <td>{{ detail.name }}</td>
                              <td>
                                <template v-if="detail.guardians.length > 0">
                                  {{ detail.guardians[0].name }}
                                </template>
                                <template v-else>-</template>
                              </td>
                              <td class="text-center">
                                <button class="btn btn-success btn-xs" v-on:click="deleteItem(item.id, detail.id)"><i class="fa fa-trash-o"></i> Edit</button> 
                                <button class="btn btn-danger btn-xs" v-on:click="deleteItem(item.id, detail.id)"><i class="fa fa-trash-o"></i> Reset</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "main",
  head: {
    title: "Wali Kelas"
  },
  middleware: 'authenticated',
  data() {
    return {
      grades: [],
      loading_grade: false,
      selected_class: null,
      teachers: []
    }
  },
  methods: {
    getGradeClassGuardian: function() {
      this.$axios
        .$get("/grade/class/guardian")
        .then(response => {
          this.grades = response.data.grades;
        })
        .catch(error => {
          console.log(error);
        });
    },
    getActiveTeacher: function() {
      const select = 'id,nuptk,name';
      const order = 'name';
      this.$axios
        .$get("/teacher/active", { params: { select: select, order: order } })
        .then(response => {
          this.teachers = response.data.teachers;
        })
        .catch(error => {
          console.log(error);
        });
    },
    syncClassStudent: function() {
      $('#btnsync').button('loading')
      this.$axios
        .$put("/class_student/attach/" + this.selected_class_id, {
          student_id: this.$refs.vueDatatable.$refs.vuetable.selectedTo
        })
        .then(response => {
          $('#btnsync').button('reset')
          if (response.status) {
            $('#modal-student').modal('hide')
            this.getClassStudent(this.selected_grade_id)
            this.student_id = [];
          }
        })
        .catch(error => {
          $('#btnsync').button('reset')
          console.log(error);
        });
    },
    deleteItem: function(class_id, student_id) {
      this.$axios
        .$put("/class_student/detach/" + class_id, {
          student_id: [student_id]
        })
        .then(response => {
          this.getClassStudent(this.selected_grade_id);
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getGradeClassGuardian();
    this.getActiveTeacher();
  }
};
</script>