<template>
  <div class="row">
    <div class="col-md-8">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <router-link class="btn btn-success pull-right" :to="{ path: '/class/create' }">
                <i class="fa fa-plus-circle"></i> Tambah Kelas
              </router-link>
            </div>
          </div>
          <vue-datatable apiUrl="/class" :fields="columns" data-object="classes" :sortOrder="order">
            <template slot="actions" slot-scope="props">
              <button class="btn btn-xs" v-on:click="editItem(props.rowData.id)"><i class="fa fa-edit"></i> Edit</button>
              <button class="btn btn-xs btn-danger" v-on:click="deleteItem(props.rowIndex)"><i class="fa fa-trash-o"></i> Hapus</button>                  
            </template>
          </vue-datatable>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import VueDatatable from '~/components/VueDatatable'
export default {
  layout: 'main',
  head: {
    title: 'Kelas'
  },
  middleware: 'authenticated',
  components: {
    VueDatatable
  },
  data () {
    return {
      columns: [
        { name: 'name', title: 'Nama Kelas', sortField: 'name', titleClass: 'text-center' },
        { name: 'grade_id', title: 'Tingkat', sortField: 'grade_id', titleClass: 'text-center', dataClass: 'text-center' },
        { name: 'active', title: 'Status', sortField: 'active', titleClass: 'text-center', dataClass: 'text-center', callback: 'activeFormat' },
        { name: 'updated_at', title: 'Terakhir Update', sortField: 'updated_at', titleClass: 'text-center', dataClass: 'text-center', callback: 'relativeTimeFormat' },
        { name: '__slot:actions', title: 'Action', titleClass: 'text-center', dataClass: 'text-center' }
      ],
      order: [
        {
          field: 'grade_id',
          direction: 'asc'
        }
      ]
    }
  },
  methods: {
    deleteItem: function (index) {
      var id = this.classes.data[index].id;
      if(confirm('Apakah anda ingin menghapus kelas ' + this.classes.data[index].name + '?')){
        this.$axios.$delete('/class/'+id).then(response => {
          this.showAll(this.classes.page);
        }).catch(error => {
          console.log(error);
        });
      }
    },
    editItem: function (id) {
      this.$router.push('/class/edit/' + id) 
    }
  }
}
</script>