<template>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-5">
              <select class="form-control" v-model="selected_grade_id">
                <option v-for="item in grades" v-bind:key="item.id" v-bind:value="item.id">KELAS {{ item.name }}</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top:10px;">
            <div class="col-md-12">
              <ul class="nav nav-tabs">
                <li v-for="(item, i) in classes" v-bind:key="item.id" v-bind:class="i == 0 ? 'active' : ''"><a data-toggle="tab" v-bind:href="'class-' + item.id">{{ item.name }}</a></li>
              </ul>
              <div class="tab-content">
                <div v-for="item in classes" v-bind:key="item.id" id="home" class="tab-pane fade in active">
                  <div class="row" style="margin-top:10px;">
                    <div class="col-md-12 pulls-right" align="right">
                        <button class="btn btn-primary" v-on:click="loadModal(item.id)"><i class="fa fa-plus-circle"></i> Tambahkan Siswa</button>
                    </div>
                  </div>
                  <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                      <div class="table-responsive">
                        <table class="table table-stripped">
                          <thead>
                            <tr class="info">
                              <th class="text-center">NIS</th>
                              <th class="text-center">Nama Siswa</th>
                              <th class="text-center">JK</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-if="!loading_class && item.students.length == 0">
                              <td colspan="5" class="text-center">Tidak ada data</td>
                            </tr>
                            <tr v-for="(detail) in item.students" v-bind:key="detail.id">
                              <td class="text-center">{{ detail.nis }}</td>
                              <td>{{ detail.name }}</td>
                              <td class="text-center">
                                <template v-if="detail.sex == 'M'">LK</template>
                                <template v-else-if="detail.sex == 'F'">PR</template>
                              </td>
                              <td class="text-center">
                                <button class="btn btn-danger btn-xs" v-on:click="deleteItem(item.id, detail.id)"><i class="fa fa-trash-o"></i> Hapus</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-student">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Tambah Siswa</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <button class="btn btn-success" id="btnsync" v-on:click="syncClassStudent()"><i class="fa fa-plus-circle"></i> Tambahkan</button>
              </div>
              <div class="col-md-6">
                <select class="form-control">
                  <option value="all">Semua Siswa</option>
                  <option value="old">Siswa Kelas Terdahulu</option>
                </select>
              </div>
            </div>
            <vue-datatable ref="vueDatatable" apiUrl="/student/class/none" :fields="columns" data-object="students" :sortOrder="order" :append-params="params">
            </vue-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import VueDatatable from '~/components/VueDatatable'
export default {
  layout: "main",
  head: {
    title: "Pembagian Kelas"
  },
  middleware: 'authenticated',
  components: {
    VueDatatable
  },
  data() {
    return {
      grades: [],
      selected_grade_id: null,
      selected_class_id: null,
      classes: [],
      loading_class: false,
      columns: [
        {
          name: '__checkbox:id',
          titleClass: "text-center",
          dataClass: "text-center"
        },
        {
          name: "nis",
          title: "NIS",
          sortField: "nis",
          titleClass: "text-center",
          dataClass: "text-center"
        },
        { name: "name", title: "Nama Lengkap", sortField: "name", titleClass: "text-center" },
        {
          name: "sex",
          title: "JK",
          sortField: "sex",
          titleClass: "text-center",
          dataClass: "text-center",
          callback: 'genderFormat'
        },
        {
          name: "birth_date",
          title: "Tgl. Lahir",
          sortField: "birth_date",
          titleClass: "text-center",
          dataClass: "text-center",
          callback: 'dateFormat|DD MMM YYYY'
        },
        { name: "guardian_name", title: "Nama Wali Murid", sortField: "guardian_name", titleClass: "text-center" },        
      ],
      order: [
        {
          field: "nis",
          direction: "asc"
        }
      ],
      params: {
        select: 'id,nis,name,sex,birth_date,guardian_name'
      }
    }
  },
  watch: {
    selected_grade_id: function(value) {
      this.getClassStudent(value);
    },
    student_id: function (value) {
      console.log(value)
    }
  },
  methods: {
    getGrades: function() {
      this.$axios
        .$get("/grade")
        .then(response => {
          this.grades = response.data.grades;
          if (response.data.grades.length > 0)
            this.selected_grade_id = response.data.grades[0].id;
        })
        .catch(error => {
          console.log(error);
        });
    },
    getClassStudent: function(grade_id) {
      this.loading_class = true;
      this.$axios
        .$get("/grade/" + grade_id + "/class/student")
        .then(response => {
          this.loading_class = false;
          this.classes = response.data.classes;
        })
        .catch(error => {
          this.loading_class = false;
          console.log(error);
        });
    },
    getStudents: function(page) {
      this.loading_class = true;
      this.students.data = [];
      this.$axios
        .$get("/student/class/none", { params: { page: page, order: "name" } })
        .then(response => {
          this.loading_class = false;
          this.students = response.data.students;
        })
        .catch(error => {
          this.loading_class = false;
          console.log(error);
        });
    },
    loadModal: function(class_id) {
      this.selected_class_id = class_id;
      this.$refs.vueDatatable.$refs.vuetable.refresh()
      this.$refs.vueDatatable.$refs.vuetable.selectedTo = [];
      $('#modal-student').modal('show')
    },
    syncClassStudent: function() {
      $('#btnsync').button('loading')
      this.$axios
        .$put("/class_student/attach/" + this.selected_class_id, {
          student_id: this.$refs.vueDatatable.$refs.vuetable.selectedTo
        })
        .then(response => {
          $('#btnsync').button('reset')
          if (response.status) {
            $('#modal-student').modal('hide')
            this.getClassStudent(this.selected_grade_id)
            this.student_id = [];
          }
        })
        .catch(error => {
          $('#btnsync').button('reset')
          console.log(error);
        });
    },
    deleteItem: function(class_id, student_id) {
      this.$axios
        .$put("/class_student/detach/" + class_id, {
          student_id: [student_id]
        })
        .then(response => {
          this.getClassStudent(this.selected_grade_id);
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getGrades();
  }
};
</script>