<template>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal" role="form" @submit.prevent="update">
                <div v-bind:class="[{ 'has-error' : errors.has('name') }, 'form-group' ]">
                  <label class="control-label col-md-3">Nama Kelas</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Nama Kelas" name="name" v-model="name" v-validate="'required'">
                    <span v-show="errors.has('name')" class="help-block">{{ errors.first('name') }}</span>
                  </div>
                </div>
                <div v-bind:class="[{ 'has-error' : errors.has('grade_id') }, 'form-group' ]">
                  <label class="control-label col-md-3">Tingkat Kelas</label>
                  <div class="col-md-2">
                    <select class="form-control" name="grade_id" v-model="grade_id" v-validate="'required'">
                      <option value="null">Pilih Tingkat...</option>
                      <option v-for="item in grades" v-bind:key="item.id" v-bind:value="item.id">{{ item.name }}</option>
                    </select>
                    <span v-show="errors.has('grade_id')" class="help-block">{{ errors.first('grade_id') }}</span>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Status</label>
                  <div class="col-md-6">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="active" v-model="active" value="0">
                        Nonaktif
                      </label> 
                      <label>
                        <input type="radio" name="active" v-model="active" value="1">
                        Aktif                        
                      </label>
                    </div>
                  </div>
                </div>    
                <div class="form-group">
                  <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Simpan</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'main',
  head: {
    title: 'Edit Kelas'
  },
  middleware: 'authenticated',
  inject: ['$validator'],
  data () {
    return {
      grades: [],
      id: this.$route.params.id,
      code: null,
      name: null,
      active: null
    }
  },
  methods: {
    getGrades: function () {
      this.$axios.$get('/grade').then(response => {
        this.grades = response.data.grades;
      }).catch(error => {
        console.log(error);
      });
    },
    showItem: function (id) {
      this.$axios.$get('/class/' + id).then(response => {
        const kelas = response.data.class;
        if (kelas != null) {
          this.name = kelas.name;
          this.grade_id = kelas.grade_id;
          this.active = kelas.active;
        }
      }).catch(error => {
        console.log(error);
      });
    },
    update: function () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$axios.$put('/class/' + this.id, {
            name: this.name.toUpperCase(),
            grade_id: this.grade_id,
            active: this.active
          }).then(response => {
            console.log(response);
            if(response.status){  
              this.$router.push('/class'); 
            }
          }).catch(error => {
            console.log(error);
          });
          return
        }
      })
    }
  },
  mounted () {
    this.getGrades();        
    this.showItem(this.id);
  }
}
</script>