<template>
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-md-4">
      <label>Pencarian:</label>
      <div class="input-group">
        <input type="text" v-model="filterText" class="form-control" @keyup.enter="doFilter" placeholder="Masukkan keyword...">
        <span class="input-group-btn">
          <button class="btn btn-danger" :disabled="filterText.length == 0" @click="resetFilter"><i class="fa fa-times-circle"></i></button>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      filterText: ''
    }
  },
  methods: {
    doFilter () {
      this.$events.fire('filter-set', this.filterText)
    },
    resetFilter () {
      this.filterText = ''
      this.$events.fire('filter-reset')
    }
  }
}
</script>