<template>
  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="~/assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MANAJEMEN USER</li>
      	<li><nuxt-link to="/user"><i class="fa fa-user"></i> User</nuxt-link></li>
        <li class="header">MASTER DATA</li>
      	<li><nuxt-link to="/student"><i class="fa fa-user-o"></i> Siswa</nuxt-link></li>
      	<li><nuxt-link to="/teacher"><i class="fa fa-mortar-board"></i> Guru</nuxt-link></li>
      	<li><nuxt-link to="/lesson"><i class="fa fa-book"></i> Mata Pelajaran</nuxt-link></li>
      	<li><nuxt-link to="/class"><i class="fa fa-folder-o"></i> Kelas</nuxt-link></li>
        <li class="header">MANAJEMEN KELAS</li>
      	<li><nuxt-link to="/class/student"><i class="fa fa-users"></i> Rombongan Belajar</nuxt-link></li>       
      	<li><nuxt-link to="/class/guardian"><i class="fa fa-mortar-board"></i> Wali Kelas</nuxt-link></li>       
        <li class="header">PENGATURAN</li>
      	<li><nuxt-link to="/school_year"><i class="fa fa-calendar-check-o"></i> Tahun Akademik</nuxt-link></li>              
      	<li><nuxt-link to="/curriculum"><i class="fa fa-briefcase"></i> Kurikulum</nuxt-link></li>              
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>