<template>
  <div class="row">
    <div class="col-md-8">
      <div class="box">
        <div class="box-body">
          <div class="row" style="margin-top:10px;">
            <div class="col-md-12">
              <ul class="nav nav-tabs">
                <li v-for="(item, i) in grades" v-bind:key="item.id" v-bind:class="i == 0 ? 'active' : ''"><a data-toggle="tab" v-bind:href="'#grade-' + item.id">KELAS {{ item.name }}</a></li>
              </ul>
              <div class="tab-content">
                <div v-for="(item, i) in grades" v-bind:key="item.id" v-bind:id="'grade-' + item.id" v-bind:class="['tab-pane', 'fade', i == 0 ? 'in active' : '']">
                  <div class="row" style="margin-top:10px;">
                    <div class="col-md-12 pulls-right" align="right">
                        <button class="btn btn-primary" v-on:click="loadModal(item.id)"><i class="fa fa-plus-circle"></i> Tambahkan Mata Pelajaran</button>
                    </div>
                  </div>
                  <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                      <div class="table-responsive">
                        <table class="table table-stripped">
                          <thead>
                            <tr class="info">
                              <th class="text-center">Code</th>
                              <th class="text-center">Mata Pelajaran</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-if="!loading_class && item.lessons.length == 0">
                              <td colspan="5" class="text-center">Tidak ada data</td>
                            </tr>
                            <tr v-for="(detail) in item.lessons" v-bind:key="detail.id">
                              <td class="text-center">{{ detail.code }}</td>
                              <td>{{ detail.name }}</td>
                              <td class="text-center">
                                <button v-bind:id="'btn-' + item.id + '-' + detail.id" class="btn btn-danger btn-xs" v-on:click="deleteItem(item.id, detail.id)"><i class="fa fa-trash-o"></i> Hapus</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-lesson">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Tambah Mata Pelajaran</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <button class="btn btn-success" id="btnsync" v-on:click="attachLesson()"><i class="fa fa-plus-circle"></i> Tambahkan</button>
              </div>
            </div>
            <vue-datatable ref="vueDatatable" :apiUrl="'/lesson/curriculum/' + id + '/grade/' + selected_grade_id +'/none'" :fields="columns" data-object="lessons" :sortOrder="order" :append-params="params">
            </vue-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import VueDatatable from '~/components/VueDatatable'
export default {
  layout: "main",
  head: {
    title: "Kurikulum Detail"
  },
  middleware: 'authenticated',
  components: {
    VueDatatable
  },
  data() {
    return {
      id: this.$route.params.id,
      grades: [],
      selected_grade_id: null,
      selected_class_id: null,
      classes: [],
      loading_class: false,
      columns: [
        {
          name: '__checkbox:id',
          titleClass: "text-center",
          dataClass: "text-center"
        },
        {
          name: "code",
          title: "Code",
          sortField: "code",
          titleClass: "text-center",
          dataClass: "text-center"
        },
        { name: "name", title: "Mata Pelajaran", sortField: "name", titleClass: "text-center" }     
      ],
      order: [
        {
          field: "code",
          direction: "asc"
        }
      ],
      params: {
        select: 'id,name'
      }
    }
  },
  watch: {
  },
  methods: {
    getCurriculumLessons: function(id) {
      this.$axios
        .$get("/curriculum/" + id + "/detail")
        .then(response => {
          this.grades = response.data.grades;
          if (this.grades.length > 0) this.selected_grade_id = this.grades[0].id;
        })
        .catch(error => {
          console.log(error);
        });
    },
    loadModal: function(grade_id) {
      this.selected_grade_id = grade_id;
      this.$refs.vueDatatable.$refs.vuetable.refresh()
      this.$refs.vueDatatable.$refs.vuetable.selectedTo = [];
      $('#modal-lesson').modal('show')
    },
    attachLesson: function() {
      $('#btnsync').button('loading')
      this.$axios
        .$put("/curriculum/attach/" + this.id, {
          grade_id: this.selected_grade_id,
          lesson_id: this.$refs.vueDatatable.$refs.vuetable.selectedTo
        })
        .then(response => {
          $('#btnsync').button('reset')
          if (response.status) {
            $('#modal-lesson').modal('hide')
            this.getCurriculumLessons(this.id);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    deleteItem: function(grade_id, lesson_id) {
      $('#btn-'+grade_id+'-'+lesson_id).button('loading');
      this.$axios
        .$put("/curriculum/detach/" + this.id, {
          grade_id: grade_id,          
          lesson_id: [lesson_id]
        })
        .then(response => {
          $('#btn-'+grade_id+'-'+lesson_id).button('reset');
          this.getCurriculumLessons(this.id);
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getCurriculumLessons(this.id);
  }
};
</script>