<template>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal" role="form" @submit.prevent="update">
                <h4>Data Siswa</h4><hr>
                <div v-bind:class="[{ 'has-error' : errors.has('nis') }, 'form-group' ]">
                  <label class="control-label col-md-3">No. Induk Siswa</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="No. Induk Siswa" name="nis" v-model="nis" v-validate="'required'">
                    <span v-show="errors.has('nis')" class="help-block">{{ errors.first('nis') }}</span>
                  </div>
                </div>
                <div v-bind:class="[{ 'has-error' : errors.has('name') }, 'form-group' ]">
                  <label class="control-label col-md-3">Nama Lengkap</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Nama Lengkap Siswa" name="name" v-model="name" v-validate="'required'">
                    <span v-show="errors.has('name')" class="help-block">{{ errors.first('name') }}</span>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Jenis Kelamin</label>
                  <div class="col-md-6">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="sex" v-model="sex" value="M">
                        Laki-Laki
                      </label> 
                      <label>
                        <input type="radio" name="sex" v-model="sex" value="F">
                        Perempuan                        
                      </label>
                    </div>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Tempat & Tanggal Lahir</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Tempat Lahir" name="birth_place" v-model="birth_place">
                  </div>
                  <div class="col-md-3">
                    <datepicker name="birth_date" :bootstrap-styling="true" :calendar-button="true" :calendar-button-icon="'fa fa-calendar'" :clear-button="true" :clear-button-icon="'fa fa-times-circle'" :language="'id'" v-model="birth_date" placeholder="Tanggal Lahir"></datepicker>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Alamat</label>
                  <div class="col-md-6">
                    <textarea class="form-control" placeholder="Alamat Siswa" name="address" v-model="address"></textarea>
                  </div>
                </div>
                <div v-bind:class="['form-group']">
                  <label class="control-label col-md-3">Provinsi</label>
                  <div class="col-md-4">
                    <select class="form-control" placeholder="Provinsi" name="province_id" v-model="province_id">
                      <option v-bind:value="null">Pilih Provinsi...</option>item.name
                      <option v-for="item in provinces" v-bind:key="item.id" v-bind:value="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <div v-bind:class="['form-group']">
                  <label class="control-label col-md-3">Kota</label>
                  <div class="col-md-4">
                    <select class="form-control" placeholder="Kota" name="city_id" v-model="city_id">
                      <option v-bind:value="null">Pilih Kota...</option>item.name
                      <option v-for="item in cities" v-bind:key="item.id" v-bind:value="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <div v-bind:class="['form-group']">
                  <label class="control-label col-md-3">Kecamatan</label>
                  <div class="col-md-4">
                    <select class="form-control" placeholder="Kecamatan" name="district_id" v-model="district_id">
                      <option v-bind:value="null">Pilih Kecamatan...</option>item.name
                      <option v-for="item in districts" v-bind:key="item.id" v-bind:value="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <div v-bind:class="['form-group']">
                  <label class="control-label col-md-3">Desa/Kelurahan</label>
                  <div class="col-md-4">
                    <select class="form-control" placeholder="Kecamatan" name="village_id" v-model="village_id">
                      <option v-bind:value="null">Pilih Desa/Kelurahan...</option>item.name
                      <option v-for="item in villages" v-bind:key="item.id" v-bind:value="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Kodepos</label>
                  <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="Kode Pos" name="zip_code" v-model="zip_code" maxlength="5">
                  </div>
                </div>
                <div v-bind:class="['form-group']">
                  <label class="control-label col-md-3">Agama</label>
                  <div class="col-md-4">
                    <select class="form-control" placeholder="Kecamatan" name="religion_id" v-model="religion_id">
                      <option v-bind:value="null">Pilih Agama...</option>item.name
                      <option v-for="item in religions" v-bind:key="item.id" v-bind:value="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <h4>Data Orang Tua</h4><hr>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Nama Ayah</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Nama Ayah" name="father_name" v-model="father_name">
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Pekerjaan Ayah</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Pekerjaan Ayah" name="father_job" v-model="father_job">
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Alamat Ayah</label>
                  <div class="col-md-6">
                    <textarea type="text" class="form-control" placeholder="Alamat Ayah" name="father_address" v-model="father_address"></textarea>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Telp. Ayah</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Telp. Ayah" name="father_phone" v-model="father_phone" maxlength="12">
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Nama Ibu</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Nama Ibu" name="mother_name" v-model="mother_name">
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Pekerjaan Ibu</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Pekerjaan Ibu" name="mother_job" v-model="mother_job">
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Alamat Ibu</label>
                  <div class="col-md-6">
                    <textarea type="text" class="form-control" placeholder="Alamat Ibu" name="mother_address" v-model="mother_address"></textarea>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Telp. Ibu</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Telp. Ibu" name="mother_phone" v-model="mother_phone" maxlength="12">
                  </div>
                </div>
                <h4>Data Wali Murid</h4><hr>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Nama Wali Murid</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Nama Wali Murid" name="guardian_name" v-model="guardian_name">
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Pekerjaan Wali Murid</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Pekerjaan Wali Murid" name="guardian_job" v-model="guardian_job">
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Alamat Wali Murid</label>
                  <div class="col-md-6">
                    <textarea type="text" class="form-control" placeholder="Alamat Wali Murid" name="guardian_address" v-model="guardian_address"></textarea>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Telp. Wali Murid</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Telp. Wali Murid" name="guardian_phone" v-model="guardian_phone" maxlength="12">
                  </div>
                </div>
                <h4>Info Lain</h4><hr>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Status</label>
                  <div class="col-md-6">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="active" v-model="active" value="0">
                        Nonaktif
                      </label> 
                      <label>
                        <input type="radio" name="active" v-model="active" value="1">
                        Aktif                        
                      </label>
                    </div>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Terdaftar Tanggal</label>
                  <div class="col-md-3">
                    <datepicker name="registered_at" :bootstrap-styling="true" :calendar-button="true" :calendar-button-icon="'fa fa-calendar'" :clear-button="true" :clear-button-icon="'fa fa-times-circle'" :language="'id'" v-model="registered_at" placeholder="Tanggal Masuk"></datepicker>
                  </div>
                </div>               
                <div class="form-group">
                  <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Simpan</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'main',
  head: {
    title: 'Edit Siswa'
  },
  middleware: 'authenticated',
  inject: ['$validator'],
  data () {
    return {
      provinces: [],
      cities: [],
      districts: [],
      villages: [],
      religions: [],
      id: this.$route.params.id,      
      nis: null,
      name: null,
      sex: null,
      birth_place: null,
      birth_date: null,
      address: null,
      province_id: null,
      city_id: null,
      district_id: null,
      village_id: null,
      zip_code: null,
      religion_id: null,
      father_name: null,
      father_job: null,
      father_address: null,
      father_phone: null,
      mother_name: null,
      mother_job: null,
      mother_address: null,
      mother_phone: null,
      guardian_name: null,
      guardian_job: null,
      guardian_address: null,
      guardian_phone: null,
      active: null,
      registered_at: null
    }
  },
  watch: {
    province_id: function (value) {
      this.getCities(value);
    },
    city_id: function (value) {
      this.getDistricts(value);
    },
    district_id: function (value) {
      this.getVillages(value);
    }
  },
  methods: {
    showItem: function (id) {
      this.$axios.$get('/student/' + id, { params : { include: 'province' } }).then(response => {
        const student = response.data.student;
        if (student != null) {
          this.nis = student.nis;
          this.name = student.name;
          this.sex = student.sex;
          this.birth_place = student.birth_place;
          this.birth_date = student.birth_date;
          this.address = student.address;
          this.province_id = student.village.district.city.province_id;
          this.city_id = student.village.district.city_id;
          this.district_id = student.village.district_id;
          this.village_id = student.village_id;
          this.zip_code = student.zip_code;
          this.religion_id = student.religion_id;
          this.father_name = student.father_name;
          this.father_job = student.father_job;
          this.father_address = student.father_address; 
          this.father_phone = student.father_phone;
          this.mother_name = student.mother_name;
          this.mother_job = student.mother_job;
          this.mother_address = student.mother_address; 
          this.mother_phone = student.mother_phone;
          this.guardian_name = student.guardian_name;
          this.guardian_job = student.guardian_job;
          this.guardian_address = student.guardian_address;
          this.guardian_phone = student.guardian_phone;
          this.active = student.active;
          this.registered_at = student.registered_at;
        }
      }).catch(error => {
        console.log(error);
      });
    },
    getProvinces: function () {
      this.$axios.$get('/province').then(response => {
        this.provinces = response.data.provinces;
      }).catch(error => {
        console.log(error);
      });
    },
    getCities: function (province_id) {
      this.$axios.$get('/province/' + province_id + '/city').then(response => {
        this.cities = response.data.cities;
      }).catch(error => {
        console.log(error);
      });
    },
    getDistricts: function (city_id) {
      this.$axios.$get('/city/' + city_id + '/district').then(response => {
        this.districts = response.data.districts;
      }).catch(error => {
        console.log(error);
      });
    },
    getVillages: function (district_id) {
      this.$axios.$get('/district/' + district_id + '/village').then(response => {
        this.villages = response.data.villages;
      }).catch(error => {
        console.log(error);
      });
    },
    getReligions: function () {
      this.$axios.$get('/religion').then(response => {
        this.religions = response.data.religions;
      }).catch(error => {
        console.log(error);
      });
    },
    update: function () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$axios.$put('/student/' + this.id, {
            nis: this.nis,
            name: this.name.toUpperCase(),
            sex: this.sex,
            birth_place: this.birth_place.toUpperCase(),
            birth_date: this.birth_date,
            address: this.address,
            village_id: this.village_id,
            zip_code: this.zip_code,
            religion_id: this.religion_id,
            father_name: this.father_name.toUpperCase(),
            father_job: this.father_job,
            father_address: this.father_address,
            father_phone: this.father_phone,
            mother_name: this.mother_name.toUpperCase(),
            mother_job: this.mother_job,
            mother_address: this.mother_address,
            mother_phone: this.mother_phone,
            guardian_name: this.guardian_name.toUpperCase(),
            guardian_job: this.guardian_job,
            guardian_address: this.guardian_address,
            guardian_phone: this.guardian_phone,
            active: this.active,
            registered_at: this.registered_at
          }).then(response => {
            console.log(response);
            if(response.status){  
              this.$router.push('/student'); 
            }
          }).catch(error => {
            console.log(error);
          });
          return
        }
      })
    }
  },
  mounted () {
    this.getProvinces();
    this.getReligions();
    this.showItem(this.id);
  }
}
</script>