<template>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal" role="form" @submit.prevent="save">
                <div v-bind:class="[{ 'has-error' : errors.has('username') }, 'form-group' ]">
                  <label class="control-label col-md-3">Username</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Username" name="username" v-model="username" v-validate="'required'">
                    <span v-show="errors.has('username')" class="help-block">{{ errors.first('username') }}</span>
                  </div>
                </div>
                <div v-bind:class="[{ 'has-error' : errors.has('email') }, 'form-group' ]">
                  <label class="control-label col-md-3">Email</label>
                  <div class="col-md-9">
                    <input type="email" class="form-control" placeholder="Email" name="email" v-model="email" v-validate="'required|email'">
                    <span v-show="errors.has('email')" class="help-block">{{ errors.first('email') }}</span>
                  </div>
                </div>
                <div v-bind:class="[{ 'has-error' : errors.has('password') }, 'form-group' ]">
                  <label class="control-label col-md-3">Password</label>
                  <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Min. 6 karakter" name="password" v-model="password" v-validate="'required'">
                    <span v-show="errors.has('password')" class="help-block">{{ errors.first('password') }}</span>
                  </div>
                </div>
                <div v-bind:class="[{ 'has-error' : errors.has('password_confirmation') }, 'form-group' ]">
                  <label class="control-label col-md-3">Confirm Password</label>
                  <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Min. 6 karakter" name="password_confirmation" v-model="password_confirmation" v-validate="'required'">
                    <span v-show="errors.has('password_confirmation')" class="help-block">{{ errors.first('password_confirmation') }}</span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'main',
  inject: ['$validator'],
  head: {
    title: 'Tambah User Baru'
  },
  middleware: 'authenticated',
  data () {
    return {
      username: '',
      email: '',
      password: '',
      password_confirmation: ''
    }
  },
  methods: {
    save: function () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$axios.$post('/user', {
            username: this.username,
            email: this.email,
            password: this.password,
            password_confirmation: this.password_confirmation
          }).then(response => {
            console.log(response);
            if(response.status){  
              this.$router.push('/user'); 
            }
          }).catch(error => {
            $('button').button('reset');
            console.log(error);
          });
          return
        }
      })
    }
  }
}
</script>