<template>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <router-link class="btn btn-success pull-right" :to="{ path: '/user/create' }">
                <i class="fa fa-plus-circle"></i> Tambah User Baru
              </router-link>
            </div>
          </div>
          <vue-datatable apiUrl="/user" :fields="columns" data-object="users" :sortOrder="order">
            <template slot="actions" slot-scope="props">
              <button class="btn btn-xs" v-on:click="editItem(props.rowData.id)"><i class="fa fa-edit"></i> Edit</button>
              <button class="btn btn-xs btn-danger" v-on:click="deleteItem(props.rowIndex)"><i class="fa fa-trash-o"></i> Hapus</button>                  
            </template>
          </vue-datatable>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import VueDatatable from '~/components/VueDatatable'
export default {
  layout: 'main',
  head: {
    title: 'User'
  },
	middleware: 'authenticated',
  components: {
    VueDatatable
  },
  data () {
    return {
      columns: [
        { name: 'username', title: 'Username', sortField: 'username', titleClass: 'text-center' },
        { name: 'email', title: 'Email', sortField: 'email', titleClass: 'text-center' },
        { name: 'created_at', title: 'Dibuat', sortField: 'created_at', titleClass: 'text-center', dataClass: 'text-center', callback: 'relativeTimeFormat' },
        { name: 'updated_at', title: 'Terakhir Update', sortField: 'updated_at', titleClass: 'text-center', dataClass: 'text-center', callback: 'relativeTimeFormat' },
        { name: '__slot:actions', title: 'Action', titleClass: 'text-center', dataClass: 'text-center' }
      ],
      order: [
        {
          field: 'created_at',
          direction: 'asc'
        }
      ]
    }
  },
  methods: {
    deleteItem: function (index) {
      var id = this.users[index].id;
      if(confirm('Do you want to delete user ' + this.users[index].username + '?')){
        this.$axios.$delete('/user/'+id).then(response => {
          this.showAll(this.users.page);
        }).catch(error => {
          console.log(error);
        });
      }
    },
    editItem: function (index) {
      this.$router.push('/user/edit/' + this.users[index].id); 
    }
  }
}
</script>