<template>
  <div class="wrapper">
	  <AppHeader/>
	  <AppSidebar/>
	  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          <small>it all starts here</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a href="#">Examples</a></li>
          <li class="active">Blank page</li>
        </ol>
      </section>
      <!-- Main content -->
      <section class="content">
      <nuxt/>
      </section>
      <!-- /.content -->
    </div>
	  <AppFooter/>
	</div>
</template>

<script>
import AppHeader from '~/components/Header'
import AppSidebar from '~/components/Sidebar'
import AppFooter from '~/components/Footer'

export default {
  head: {
    bodyAttrs: {
      class: 'hold-transition skin-blue sidebar-mini'
    }
  },
  data () {
    return {
      username: 'Ryan Reynold'
    }
  },
  components: {
    AppHeader,
    AppSidebar,
    AppFooter
  },
  mounted () {
  }
}
</script>
<style src="~/node_modules/bootstrap/dist/css/bootstrap.min.css"></style>
<style src="~/node_modules/font-awesome/css/font-awesome.min.css"></style>
<style src="~/assets/css/skins/_all-skins.min.css"></style>
<style src="~/assets/css/AdminLTE.min.css"></style>