<template>
  <div class="login-box">
	  <div class="login-logo">
	    <a href="../../index2.html"><b>Admin</b>LTE</a>
	  </div>
	  <div class="login-box-body">
	    <p class="login-box-msg">Sign in to start your session</p>

	    <form @submit.prevent="login">
	      <div v-bind:class="[{ 'has-error' : errors.has('email') }, 'form-group' , 'has-feedback' ]">
	        <input type="email" class="form-control" name="email" placeholder="Email" v-model="email" v-validate="'required|email'">
	        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					<span v-show="errors.has('email')" class="help-block">{{ errors.first('email') }}</span>
	      </div>
	      <div v-bind:class="[{ 'has-error' : errors.has('password') }, 'form-group' , 'has-feedback' ]">
	        <input type="password" class="form-control" name="password" placeholder="Password" v-validate="'required'" v-model="password">
	        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<span v-show="errors.has('password')" class="help-block">{{ errors.first('password') }}</span>
	      </div>
	      <div class="row">
	        <div class="col-xs-4">
	          <button class="btn btn-primary btn-block btn-flat" data-loading-text="<i class='fa fa-spin fa-spinner'></i> Loading...">Sign In</button>
	        </div>
	      </div>
	    </form>

	    <!--<a href="#">I forgot my password</a><br>
	    <a href="register.html" class="text-center">Register a new membership</a>-->
	    <router-link to="/admin">Go to Foo</router-link>
	  </div>
	</div>
</template>

<script>
import Cookie from 'js-cookie'

export default {
	head: {
    title: 'Home page'
  },
	inject: ['$validator'],
	middleware: 'notAuthenticated',
  data () {
    return {
      email: 'ojpelse@ewuni.ad',
      password: '123456'
    }
  },
  methods: {
    login: function () {
      this.$validator.validateAll().then((result) => {
        if (result) {
					$('button').button('loading');
          this.$axios.$post('/auth/login', {
						email: this.email,
						password: this.password
					}).then(response => {
						$('button').button('reset');
						const auth = {
							type: 'Bearer',
							token: response.data.auth.token
						};
						Cookie.set('auth', auth);						
						this.$router.push('/user');
					}).catch(function (error) {
						$('button').button('reset');
					});
        }
      })
    }
  },
  mounted () {
    document.body.classList.add('hold-transition', 'login-page')
  }
}
</script>

<style src="~/node_modules/bootstrap/dist/css/bootstrap.min.css"></style>
<style src="~/node_modules/font-awesome/css/font-awesome.min.css"></style>
<style src="~/assets/css/skins/_all-skins.min.css"></style>
<style src="~/assets/css/AdminLTE.min.css"></style>