<template>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <div class="box-body">
          <div class="row"  style="margin-top: 15px;">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-striped table-hovered table-bordered">
                  <thead>
                    <tr class="info">
                      <th class="text-center">Tahun Akademik</th>
                      <th class="text-center">Tahun Awal</th>
                      <th class="text-center">Tahun Akhir</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, i) in school_years" v-bind:key="item.id">
                      <td class="text-center">{{ item.name }}</td>
                      <td class="text-center">{{ item.start_year }}</td>
                      <td class="text-center">{{ item.end_year }}</td>
                      <td class="text-center">
                        <span v-if="item.active == '1'" class="text text-success"><i class="fa fa-check-circle"></i> Aktif</span>
                        <span v-else class="text text-warning"><i class="fa fa-times-circle"></i> Nonaktif</span>
                      </td>
                      <td class="text-center">
                        <button class="btn btn-xs btn-success" v-on:click="activate(i)"><i class="fa fa-check"></i> Aktifkan</button>
                      </td>
                    </tr>
                    <tr v-if="!loading_school_year && school_years.length == 0">
                      <td class="text-center" colspan="6">Tidak ada data</td>
                    </tr>
                    <tr v-if="loading_school_year">
                      <td colspan="6" class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading Data</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'main',
  head: {
    title: 'Tahun Akademik'
  },
  middleware: 'authenticated',
  data () {
    return {
      school_years: [],
      loading_school_year: false,
      orderBy: '-created_at'
    }
  },
  methods: {
    showAll: function () {
      this.loading_school_year = true;
      this.$axios.$get('/school_year', { params : { order: this.orderBy } }).then(response => {
        this.loading_school_year = false;
        this.school_years = response.data.school_years;
      }).catch(error => {
        this.loading_school_year = false;
        console.log(error);
      });
    },
    activate: function (index) {
      const id = this.school_years[index].id;
      if(confirm('Apakah anda ingin mengaktifkan tahun akademik ' + this.school_years[index].name + '?')){
        this.$axios.$put('/school_year/activate/'+id).then(response => {
          this.showAll();
        }).catch(error => {
          console.log(error);
        });
      }
    }
  },
  mounted () {
    this.showAll();
  }
}
</script>