<template>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal" role="form" @submit.prevent="update">
                <h4>Data Guru</h4><hr>
                <div v-bind:class="[{ 'has-error' : errors.has('nuptk') }, 'form-group' ]">
                  <label class="control-label col-md-3">NUPTK</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="No. NUPTK" name="nuptk" v-model="nuptk" v-validate="'required'">
                    <span v-show="errors.has('nuptk')" class="help-block">{{ errors.first('nuptk') }}</span>
                  </div>
                </div>
                <div v-bind:class="[{ 'has-error' : errors.has('name') }, 'form-group' ]">
                  <label class="control-label col-md-3">Nama Lengkap</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Nama Lengkap Guru" name="name" v-model="name" v-validate="'required'">
                    <span v-show="errors.has('name')" class="help-block">{{ errors.first('name') }}</span>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Jenis Kelamin</label>
                  <div class="col-md-6">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="sex" v-model="sex" value="M">
                        Laki-Laki
                      </label> 
                      <label>
                        <input type="radio" name="sex" v-model="sex" value="F">
                        Perempuan                        
                      </label>
                    </div>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Tempat & Tanggal Lahir</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Tempat Lahir" name="birth_place" v-model="birth_place">
                  </div>
                  <div class="col-md-3">
                    <datepicker name="birth_date" :bootstrap-styling="true" :calendar-button="true" :calendar-button-icon="'fa fa-calendar'" :clear-button="true" :clear-button-icon="'fa fa-times-circle'" :language="'id'" v-model="birth_date" placeholder="Tanggal Lahir"></datepicker>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Alamat</label>
                  <div class="col-md-6">
                    <textarea class="form-control" placeholder="Alamat Guru" name="address" v-model="address"></textarea>
                  </div>
                </div>
                <div v-bind:class="['form-group']">
                  <label class="control-label col-md-3">Provinsi</label>
                  <div class="col-md-4">
                    <select class="form-control" placeholder="Provinsi" name="province_id" v-model="province_id">
                      <option v-bind:value="null">Pilih Provinsi...</option>item.name
                      <option v-for="item in provinces" v-bind:key="item.id" v-bind:value="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <div v-bind:class="['form-group']">
                  <label class="control-label col-md-3">Kota</label>
                  <div class="col-md-4">
                    <select class="form-control" placeholder="Kota" name="city_id" v-model="city_id">
                      <option v-bind:value="null">Pilih Kota...</option>item.name
                      <option v-for="item in cities" v-bind:key="item.id" v-bind:value="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <div v-bind:class="['form-group']">
                  <label class="control-label col-md-3">Kecamatan</label>
                  <div class="col-md-4">
                    <select class="form-control" placeholder="Kecamatan" name="district_id" v-model="district_id">
                      <option v-bind:value="null">Pilih Kecamatan...</option>item.name
                      <option v-for="item in districts" v-bind:key="item.id" v-bind:value="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <div v-bind:class="['form-group']">
                  <label class="control-label col-md-3">Desa/Kelurahan</label>
                  <div class="col-md-4">
                    <select class="form-control" placeholder="Kecamatan" name="village_id" v-model="village_id">
                      <option v-bind:value="null">Pilih Desa/Kelurahan...</option>item.name
                      <option v-for="item in villages" v-bind:key="item.id" v-bind:value="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Kodepos</label>
                  <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="Kode Pos" name="zip_code" v-model="zip_code" maxlength="5">
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Telp.</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Telp." name="phone" v-model="phone" maxlength="12">
                  </div>
                </div>
                <div v-bind:class="['form-group']">
                  <label class="control-label col-md-3">Agama</label>
                  <div class="col-md-4">
                    <select class="form-control" placeholder="Kecamatan" name="religion_id" v-model="religion_id">
                      <option v-bind:value="null">Pilih Agama...</option>item.name
                      <option v-for="item in religions" v-bind:key="item.id" v-bind:value="item.id">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <h4>Info Lain</h4><hr>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Status</label>
                  <div class="col-md-6">
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" name="active" v-model="active" value="0">
                        Nonaktif
                      </label> 
                      <label>
                        <input type="radio" name="active" v-model="active" value="1">
                        Aktif                        
                      </label>
                    </div>
                  </div>
                </div>
                <div v-bind:class="[ 'form-group' ]">
                  <label class="control-label col-md-3">Terdaftar Tanggal</label>
                  <div class="col-md-3">
                    <datepicker name="registered_at" :bootstrap-styling="true" :calendar-button="true" :calendar-button-icon="'fa fa-calendar'" :clear-button="true" :clear-button-icon="'fa fa-times-circle'" :language="'id'" v-model="registered_at" placeholder="Tanggal Masuk"></datepicker>
                  </div>
                </div>               
                <div class="form-group">
                  <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Simpan</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'main',
  head: {
    title: 'Edit Guru'
  },
  middleware: 'authenticated',
  inject: ['$validator'],
  data () {
    return {
      provinces: [],
      cities: [],
      districts: [],
      villages: [],
      religions: [],
      id: this.$route.params.id,      
      nuptk: null,
      name: null,
      sex: null,
      birth_place: null,
      birth_date: null,
      address: null,
      province_id: null,
      city_id: null,
      district_id: null,
      village_id: null,
      zip_code: null,
      phone: null,
      religion_id: null,
      active: null,
      registered_at: null
    }
  },
  watch: {
    province_id: function (value) {
      this.getCities(value);
    },
    city_id: function (value) {
      this.getDistricts(value);
    },
    district_id: function (value) {
      this.getVillages(value);
    }
  },
  methods: {
    showItem: function (id) {
      this.$axios.$get('/teacher/' + id, { params : { include: 'province' } }).then(response => {
        const teacher = response.data.teacher;
        if (teacher != null) {
          this.nuptk = teacher.nuptk;
          this.name = teacher.name;
          this.sex = teacher.sex;
          this.birth_place = teacher.birth_place;
          this.birth_date = teacher.birth_date;
          this.address = teacher.address;
          this.province_id = teacher.village.district.city.province_id;
          this.city_id = teacher.village.district.city_id;
          this.district_id = teacher.village.district_id;
          this.village_id = teacher.village_id;
          this.zip_code = teacher.zip_code;
          this.phone = teacher.phone;
          this.religion_id = teacher.religion_id;
          this.active = teacher.active;
          this.registered_at = teacher.registered_at;
        }
      }).catch(error => {
        console.log(error);
      });
    },
    getProvinces: function () {
      this.$axios.$get('/province').then(response => {
        this.provinces = response.data.provinces;
      }).catch(error => {
        console.log(error);
      });
    },
    getCities: function (province_id) {
      this.$axios.$get('/province/' + province_id + '/city').then(response => {
        this.cities = response.data.cities;
      }).catch(error => {
        console.log(error);
      });
    },
    getDistricts: function (city_id) {
      this.$axios.$get('/city/' + city_id + '/district').then(response => {
        this.districts = response.data.districts;
      }).catch(error => {
        console.log(error);
      });
    },
    getVillages: function (district_id) {
      this.$axios.$get('/district/' + district_id + '/village').then(response => {
        this.villages = response.data.villages;
      }).catch(error => {
        console.log(error);
      });
    },
    getReligions: function () {
      this.$axios.$get('/religion').then(response => {
        this.religions = response.data.religions;
      }).catch(error => {
        console.log(error);
      });
    },
    update: function () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$axios.$put('/teacher/' + this.id, {
            nuptk: this.nuptk,
            name: this.name.toUpperCase(),
            sex: this.sex,
            birth_place: this.birth_place.toUpperCase(),
            birth_date: this.birth_date,
            address: this.address,
            village_id: this.village_id,
            zip_code: this.zip_code,
            phone: this.phone,
            religion_id: this.religion_id,
            active: this.active,
            registered_at: this.registered_at
          }).then(response => {
            console.log(response);
            if(response.status){  
              this.$router.push('/teacher'); 
            }
          }).catch(error => {
            console.log(error);
          });
          return
        }
      })
    }
  },
  mounted () {
    this.getProvinces();
    this.getReligions();
    this.showItem(this.id);
  }
}
</script>