<template>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <router-link class="btn btn-success pull-right" :to="{ path: '/student/create' }">
                <i class="fa fa-plus-circle"></i> Tambah Siswa Baru
              </router-link>
            </div>
          </div>
          <vue-datatable apiUrl="/student" :fields="columns" data-object="students" :sortOrder="order">
            <template slot="actions" slot-scope="props">
              <button class="btn btn-xs" v-on:click="editItem(props.rowData.id)"><i class="fa fa-edit"></i> Edit</button>
              <button class="btn btn-xs btn-danger" v-on:click="deleteItem(props.rowIndex)"><i class="fa fa-trash-o"></i> Hapus</button>                  
            </template>
          </vue-datatable>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import VueDatatable from '~/components/VueDatatable'
export default {
  layout: 'main',
  head: {
    title: 'Siswa'
  },
  middleware: 'authenticated',
  components: {
    VueDatatable
  },
  data () {
    return {
      columns: [
        { name: 'nis', title: 'NIS', sortField: 'nis', titleClass: 'text-center', dataClass: 'text-center' },
        { name: 'name', title: 'Nama Lengkap', sortField: 'name', titleClass: 'text-center' },
        { name: 'sex', title: 'JK', sortField: 'sex', titleClass: 'text-center', dataClass: 'text-center', callback: 'genderFormat' },
        { name: 'birth_date', title: 'Tgl. Lahir', sortField: 'birth_date', titleClass: 'text-center', dataClass: 'text-center', callback: 'dateFormat|DD MMM YYYY' },
        { name: 'guardian_name', title: 'Nama Wali Murid', sortField: 'guardian_name', titleClass: 'text-center', dataClass: 'text-left' },
        { name: 'active', title: 'Status', sortField: 'active', titleClass: 'text-center', dataClass: 'text-center', callback: 'activeFormat' },
        { name: 'updated_at', title: 'Terakhir Update', sortField: 'updated_at', titleClass: 'text-center', dataClass: 'text-center', callback: 'relativeTimeFormat' },
        { name: '__slot:actions', title: 'Action', titleClass: 'text-center', dataClass: 'text-center' }
      ],
      order: [
        {
          field: 'updated_at',
          direction: 'asc'
        }
      ]
    }
  },
  methods: {
    deleteItem: function (index) {
      var id = this.students[index].id;
      if(confirm('Do you want to delete user ' + this.students[index].name + '?')){
        this.$axios.$delete('/student/'+id).then(response => {
          this.showAll(this.students.page);
        }).catch(error => {
          console.log(error);
        });
      }
    },
    editItem: function (id) {
      this.$router.push('/student/edit/' + id); 
    }
  }
}
</script>